.page-signup {

  //background: url('../../assets/img/x1.png') transparent;
  //background-size: 100%;

    .register-btn {
      position: absolute;
      bottom: 0;
      margin: auto;
      width: 100%;
      text-align: center;
      z-index: 10001;
      background: #fff;
    }

    .card-title {
          position: absolute;
          top: 26%;
          left: 27%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
      }

      .card-subtitle {
          font-size: 1.5em;
          position: absolute;
          left: 30%;
          top: 32%;
          width: 100%;
          color: #fff;
    }

  form {
    margin-bottom: 8px;
    button {
      margin-top: 20px;
    }
  }

    p {
      font-size: 0.8em;
      color: green;
    }

    ion-label {
      margin-left: 5px;
    }

    ion-input {
      padding: 5px;
    }

    .invalid {
      border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
      border-bottom: 0 !important;
    }

}
