.menu {
	background: #fff;
  	background-size: 100%;

  	

	ion-card {
		// border-radius: 40px;
		font-weight:bold;
		//box-shadow: 2px 2px 3px 3px #0a3506;
		border-left: 0.6px solid #fff;
		border-right: 0.6px solid #fff;
		border-top: 0.6px solid #fff;
		border-bottom: 0.6px solid #fff;
	}

	ion-card p {
		color: #fff;
	}


	ion-card img {
		width: 70%;
		//width: 80px;
		height: 60%;
		left: 50%;
		max-height: 80%;
		max-width: 60%;
		border-width: 1px;
		border-style: 1px solid;
		border-radius: 50%;
		border-color: #c8c7cc;
		object-position: center;
		
		//background-color: #fff;
		margin-left: 25px;
		text-align: center;
		border-radius: 50%;
	}


	ion-icon {
		font-size: 7em;
		color: blue;
		line-height: 22px;
		left: 50%;
    	margin-left: 28px;
	}

	p {
		font-size: 0.8em !important;
	}
}